@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background {
    @apply bg-white dark:bg-black text-black dark:text-white;
  }
  .navIcons {
    @apply rounded-full p-1 hover:text-gray-900/50 dark:hover:text-gray-200 focus:outline-none focus-visible:ring-2 dark:focus-visible:ring-white/75 focus-visible:ring-black/75;
  }
  .primaryBtn {
    @apply w-full rounded-md bg-rose-600 py-2  text-white transition hover:bg-rose-500 focus:outline-none focus:ring-4 focus:ring-rose-600/50 disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:bg-rose-600 dark:bg-rose-400 dark:hover:bg-rose-300 dark:focus:ring-rose-300/50;
  }
  .input {
    @apply w-full shadow-sm rounded-md py-2 pl-4 truncate border focus:outline-none focus:ring-4 focus:ring-opacity-30 transition disabled:opacity-50 disabled:cursor-not-allowed dark:bg-transparent dark:text-gray-300;
  }
  .heading1 {
    @apply text-xl font-medium tracking-wider md:text-2xl xl:text-3xl capitalize;
  }
  .section {
    @apply px-2 py-8 sm:py-6 md:px-4 xl:px-6 lg:py-10 2xl:py-12;
  }
  .table {
    @apply min-w-full ring ring-gray-300/10 dark:ring-gray-700/10 text-left;
  }
  .table__head {
    @apply bg-gray-300 dark:bg-gray-800 text-sm font-bold tracking-wider dark:text-gray-300;
  }
  .table__body {
    @apply divide-y dark:divide-gray-800 divide-gray-200;
  }
  .table__row-body {
    @apply capitalize text-sm dark:text-gray-300 transition dark:even:bg-slate-800/40 dark:hover:bg-slate-800/70 md:text-sm even:bg-gray-100 hover:bg-gray-300/70;
  }
}

.quillContainer {
  @apply border border-gray-300 dark:border-gray-800 rounded-lg flex flex-col overflow-hidden h-96;
}
.quillContainer .quill {
  @apply flex flex-1 flex-col overflow-hidden;
}
.quillContainer .ql-snow.ql-toolbar {
  @apply border-0 border-b border-b-gray-300  dark:border-gray-800;
}
.quillContainer .ql-snow.ql-toolbar .ql-picker {
  @apply dark:text-gray-300  text-gray-800;
}
.quillContainer .ql-snow.ql-toolbar .ql-picker-options {
  @apply dark:bg-slate-800 bg-gray-100 border-0 rounded-lg shadow-md p-4;
}
.quillContainer .ql-snow.ql-container .ql-editor {
  @apply p-4 flex-1 text-base h-full overflow-y-auto text-gray-800 dark:text-gray-300;
}
.quillContainer .ql-container.ql-snow {
  @apply border-0;
}
.quillContainer .ql-snow .ql-stroke {
  @apply stroke-gray-800 dark:stroke-gray-300;
}
